/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// fonts
$font-family-sans-serif: "Open Sans", sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #333 !default;
$link-color: #FFA500 !default;
$selection-bg: #134674 !default;

// headings
$presentation-heading-font: "Quicksand", sans-serif !default;
$presentation-heading-text-transform: uppercase !default;
$presentation-heading-font-weight: 800 !default;
$presentation-heading-letter-spacing: -0.08em;
$presentation-h1-font-size: 2.5em;

// code blocks
$code-block-border-color: lighten($link-color, 30%) !default;
$code-block-bg: transparent !default;
/*-- scss:rules --*/

// Fix links so they are not cut off
.reveal a {
  line-height: 1.3em;
}
